@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pontano+Sans:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-dark: #030014;
  --default-color: #41469a;
  --default-border-color-dark: #3c3f44;
  --default-border-color-light: #babfc9;
  --border-dark: 2px solid var(--default-border-color-dark);
  --border-light: 2px solid var(--default-border-color-light);
  --font: 'Poppins', sans-serif;
  --text-gradient: linear-gradient(
    90deg,
    #e59cff 0%,
    #ba9cff 50%,
    #9cb2ff 100%
  );
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  border: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.dark-theme {
  background-color: var(--background-dark);
}

body.light-theme {
  background-color: white;
}

body.light-theme h1,
body.light-theme p,
body.light-theme h2,
body.light-theme h3,
body.light-theme div {
  color: black;
}

body.dark-theme h1,
body.dark-theme p,
body.dark-theme h2,
body.dark-theme h3 {
  color: white;
}

/* Header */

.header {
  color: white;
  display: flex;
  justify-content: space-between;
}

.header a {
  z-index: 99;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo span {
  color: var(--default-color);
  font-size: 60px;
  margin: 0 10px 10px 10px;
  font-family: 'Times New Roman', sans-serif !important;
}

.header__logo h1 {
  font-family: var(--font);
  margin-bottom: 0px !important;
  font-weight: bold !important;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 99;
}

.header__user--theme {
  position: relative;
  width: 70px;
  height: 30px;
  background-color: #20262e;
  border: var(--border-dark);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.header__user-light .header__user--theme {
  background-color: #e1e3e6;
  border: var(--border-light);
}

.header__user--slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.header__user--slider.light {
  transform: translateX(0);
  color: #7d7979;
  background-color: white;
}

.header__user--slider.dark {
  transform: translateX(38px);
  background-color: black !important;
}

.header__user-user-icon {
  margin-right: 15px;
  cursor: pointer;
}

.header__user-light .header__user-user-icon {
  color: black;
}

/* SearchPanel */

.container__panel {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.panel-background {
  margin-top: 6%;
  border-radius: 2.5px;
  z-index: 1;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 0 40px #41469a;
}

.panel {
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    to bottom,
    rgba(4, 1, 21, 0.6) 1%,
    rgba(3, 0, 20, 0.6) 99%
  );
  padding: 10px 30px 30px 30px;
  border-radius: 2.5px;
  width: 93.7%;
  height: 90%;
  backdrop-filter: blur(1px);
  z-index: 2;
}

body.light-theme .panel {
  border: var(--border-light) !important;
}

.sidebar-blur__active {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: flex-end;
}

body.light-theme .sidebar-blur__active {
  background-color: rgba(0, 0, 0, 0.2);
}

.sidebar-search-mode {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
  margin: -0.9% 0 0 -0.9%;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
}

body.light-theme .sidebar-search-mode {
  background-color: rgba(0, 0, 0, 0.2);
}

.search__side-bar {
  display: none;
}

.sidebar-search-mode .search__side-bar {
  color: white;
  background-color: #2f2e35;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body.light-theme .sidebar-search-mode .search__side-bar {
  background-color: white;
}

.search__side-bar--header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0 -15px;
}

.search__side-bar--menu {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-bar--menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font);
  font-size: 12px;
  width: 91%;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.side-bar--menu-item:hover {
  background-color: #535557;
}

body.light-theme .side-bar--menu-item:hover {
  background-color: #c0c3c5;
}

.side-bar--menu-item p {
  width: 40%;
}

.panel__side-bar {
  display: none;
}

.sidebar-blur__active .panel__side-bar {
  display: initial;
  background-color: #2f2e35;
  width: 20%;
  height: 100%;
}

body.light-theme .sidebar-blur__active .panel__side-bar {
  background-color: white;
}

.panel__side-bar--header {
  margin: 20px 0 0 -20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.close-icon {
  transition: 0.5s ease;
}

.close-icon:hover {
  transform: scale(1.1);
}

.side-bar__menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.side-bar__menu--items {
  font-family: var(--font);
  font-size: 12px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
  padding: 10px;
}

.side-bar__menu--items:hover {
  background-color: #535557;
}

body.light-theme .side-bar__menu--items:hover {
  background-color: #c0c3c5;
}

.menu--items-container {
  width: 80%;
  display: flex;
  gap: 20px;
  align-items: center;
}

body.light-theme .panel__side-bar--header {
  color: #2f2e35;
}

body.light-theme .panel-background {
  border: 2px solid rgba(0, 0, 0, 0.418);
}

body.light-theme .panel {
  border: 2px solid rgba(0, 0, 0, 0.418);
  background: none;
}

.panel__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.panel__header--mode {
  background-color: rgba(217, 217, 217, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 139px;
  border: var(--border-dark);
  border-radius: 20px;
  gap: 20px;
}

body.light-theme .panel__header--mode {
  border: var(--border-light);
}

.search-active,
.chatbot-active {
  transform: scale(1.18);
  color: white !important;
  background: radial-gradient(circle, #787878 0%, #3f3b3b 100%);
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.25),
    inset 0 0 4px rgba(255, 255, 255, 0.19);
}

body.light-theme .search-active,
body.light-theme .chatbot-active {
  background: rgb(160, 158, 158) !important;
  box-shadow: 0 0 7px rgba(49, 48, 48, 0.25),
    inset 0 0 4px rgba(49, 49, 49, 0.19);
}

.panel__header--mode-item {
  border: var(--border-dark);
  border-radius: 11px;
  padding: 6px;
  color: #636060;
  transition: 0.5s ease;
  cursor: pointer;
}

body.light-theme .panel__header--mode-item {
  border: var(--border-light);
}

.panel__header--mode-item:hover {
  background-color: #585656;
  color: white;
}

body.light-theme .panel__header--mode-item:hover {
  background-color: #a29f9f;
}

.panel__header--info {
  display: flex;
  font-family: var(--font);
}

.panel__header--info p {
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 12px;
  margin-right: 10px;
}

.panel__header--info-config {
  color: white;
  transition: transform 3s ease;
  cursor: pointer;
}

body.light-theme .panel__header--info p,
body.light-theme .panel__header--info-config {
  color: rgb(94, 92, 92) !important;
}

.panel__header--info-config:hover {
  transform: rotate(360deg);
}

.panel__search-mode {
  position: relative;
  padding: 10px;
  border: var(--border-dark);
  height: 83%;
  border-radius: 2.5px;
  background-color: rgba(255, 255, 255, 0.03);
}

body.light-theme .panel__search-mode {
  border: var(--border-light);
}

.panel__search-mode--header {
  display: flex;
  justify-content: space-between;
}

.panel__search-mode--header-more-icon {
  color: white;
  cursor: pointer;
}

body.light-theme .panel__search-mode--header-more-icon {
  color: #2f2e35;
}

.panel__search-mode--favorites {
  display: flex;
}

.panel__search-mode--favorites-item {
  display: flex;
  border: var(--border-dark);
  border-radius: 20px;
  padding: 8px;
  margin-right: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}

body.light-theme .panel__search-mode--favorites-item {
  border: var(--border-light);
}

.panel__search-mode--favorites-item:hover {
  transform: scale(1.06);
}

.panel__search-mode--favorites-item p {
  font-family: var(--font);
  font-size: 10px;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

body.light-theme .panel__search-mode--favorites-item p {
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: rgb(84, 83, 83);
}

.panel__search-mode--favorites-item img {
  margin-right: 5px;
}

.panel__clock {
  font-size: 80px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: white;
  margin-top: 30px;
}

body.light-theme .panel__clock {
  color: #908989;
}

.panel__clock--weather--info {
  margin-bottom: 15px;
}

.panel__weather--info {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.light-theme .weather-icon {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9));
}

.panel__weather--info-item {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 15px;
  gap: 2px;
  font-family: 'Poppins', sans-serif;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.light-theme .panel__weather--info-item {
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #908989;
}

.panel__search--box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}

body.light-theme .panel__search--box {
  color: rgb(131, 128, 128);
}

#panel__search--bar {
  width: 60%;
  height: 30px;
  padding: 10px 15px 10px 45px;
  border-radius: 100px;
  border: var(--border-dark);
  background: none;
  color: white;
  margin-right: 10px;
  transition: 0.5s ease;
}

#panel__search--bar:focus {
  border-color: #e59cff;
  outline: none;
  box-shadow: 0 0 5px 6px #e59cff55;
}

body.light-theme #panel__search--bar {
  border: var(--border-light);
  color: #787878;
}

body.light-theme #panel__search--bar:focus {
  border-color: #8b6ec9;
  outline: none;
  box-shadow: 0 0 3px 4px rgba(79, 51, 138, 0.3);
}

.panel__search--search-icon-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 63%;
  pointer-events: none;
}

.icon-container__send-icon {
  pointer-events: all;
}

.panel__shortcuts {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.panel__shortcuts--card {
  padding: 20px;
  border-radius: 20px;
  border: var(--border-dark);
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.01);
  transition: 0.5s ease;
}

body.light-theme .panel__shortcuts--card {
  border: var(--border-light);
}

.panel__shortcuts--card:hover {
  transform: scale(1.1);
}

.panel__shortcuts--card p {
  font-family: var(--font);
  margin-top: 6px;
  font-size: 9px;
  color: #ccc;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.light-theme .panel__shortcuts--card p {
  color: #636060;
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.black-hole-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.black-hole-container .black-hole,
.black-hole-container .black-hole-white {
  margin-top: 6%;
  position: absolute;
  max-width: 100%;
  transform: translateY(2%);
}

.black-hole-container .black-hole-white {
  transform: translateY(-2%);
}

/* Trending Math Topics */

.math-topics__title {
  font-family: var(--font);
  margin: 30px 0 30px 30px;
}

.math-topics__card {
  border: 3px solid rgba(60, 63, 68, 0.2);
  border-radius: 10px;
  width: 95%;
  margin-left: 1%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.math-topics__card-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 50px;
}

.math-topics__card-item {
  border: 3px solid rgba(60, 63, 68, 0.16);
  border-radius: 5px;
  width: 30%;
  height: 85%;
  padding: 20px;
  font-family: var(--font);
  transition: 0.8s ease;
}

.math-topics__card-item:hover {
  transform: scale(1.07);
}

.math-topics__card-item--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.math-topics__card-item--header p {
  font-size: 20px;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(217, 217, 217, 0.3);
  font-family: var(--font);
  margin-top: 20px;
}

.pagination__info {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.pagination__info p {
  margin-right: 5px;
}

.pagination__info input {
  font-size: 12px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border: none;
  background-color: #2f2e35;
  text-align: center;
  color: white;
  border-radius: 3px;
}

.pagination__info input:focus {
  outline: none;
}

.pagination__dots {
  width: 10px;
  height: 10px;
  border: none;
  margin: 0 5px;
  border-radius: 360px;
  background-color: rgba(217, 217, 217, 0.3);
  cursor: pointer;
}

.pagination__dots-active {
  background-color: rgba(136, 33, 196, 0.3);
}

.pagination__buttons {
  display: flex;
  align-items: center;
}

.pagination__button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination__button:disabled {
  color: rgba(255, 255, 255, 0.2);
  cursor: not-allowed;
}

body.dark-theme .math-topics__card-item--header p {
  color: rgba(255, 255, 255, 0.6) !important;
}

.math-topics__card-item--search {
  background-color: #8821c4;
  color: white;
  padding: 6px;
  border-radius: 40px;
  transition: 0.5s ease;
  cursor: pointer;
}

.math-topics__card-item--search:hover {
  transform: scale(1.2);
}

.math-topics__card-item--text {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

body.dark-theme .math-topics__card-item--text p {
  color: rgba(255, 255, 255, 0.45) !important;
}

.math-topics__card-item--text p {
  width: 80%;
}

/* Footer */

.footer {
  background-color: #020422;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  height: 130px;
}

.footer__copy-container {
  display: flex;
  font-family: var(--font);
  font-size: 12px;
  align-items: flex-end;
  margin: 0 10px 10px 0;
}

.footer_logo h1,
.footer__copy-container p {
  color: white !important;
  margin-bottom: 0 !important;
}

.copy-icon {
  margin-right: 10px;
}

/* Result Page */

.result-page__search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.result-page__search-bar-container .panel__search--search-icon-container {
  width: 78%;
}

.result-page__search-bar-container input {
  padding: 15px 60px 10px 55px !important;
  text-align: center;
}

.result-page__number-of-results {
  border: var(--border-dark);
  margin-right: 30px;
  border-radius: 3.5px;
  padding: 20px;
}

body.light-theme .result-page__number-of-results {
  border: var(--border-light);
}

.result-page__number-of-results p {
  text-align: center;
  font-family: var(--font);
  font-size: 12px;
}

.result-page__number-of-results__buttons button {
  border-radius: 5px;
  width: 20px;
  height: 20px;
  border: var(--border-dark);
  background: rgba(217, 217, 217, 0.1);
  color: white;
  margin: 10px 10px 0 0;
  cursor: pointer;
  transition: 0.5s ease;
}

body.light-theme .result-page__number-of-results__buttons button {
  color: rgb(109, 109, 109);
  border: var(--border-light);
}

.result-page__number-of-results__buttons .active {
  background: rgba(81, 40, 104, 0.6);
  border: 2px solid #512868;
  color: white !important;
}

body.light-theme .result-page__number-of-results__buttons .active {
  border: 2px solid #9c5ec1;
}

.result-page__number-of-results__buttons button:hover {
  background: rgba(169, 168, 168, 0.5);
}

.result-page__number-of-results__buttons .active:hover {
  background: rgba(81, 40, 104, 0.6);
}

.results-container {
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.results__item {
  margin-bottom: 15px;
}

.results__item-header {
  display: flex;
  gap: 10px;
}

.header-content__title {
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
  background: var(--text-gradient);
  font-family: 'Inter', sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

body.light-theme .header-content__title {
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #8f8c8c;
}

.header-content__link p {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #5435c3 !important;
  cursor: pointer;
}

body.light-theme .header-content__link p {
  color: #2b32aa !important;
}

.results__item--content {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  width: 40%;
}

.results__item--go-link {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 3px;
  margin-top: 5px;
}

.results__item--go-link p {
  font-family: var(--font);
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5) !important;
}

body.light-theme .results__item--go-link p {
  color: #312f2f !important;
}

/* Wikipedia viewer */

.wiki-background {
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.05), 0 0 40px #41469a;
  padding: 5px;
  margin: 10px 40px;
}

.wiki {
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    to bottom,
    rgba(4, 1, 21, 0.6) 1%,
    rgba(3, 0, 20, 0.6) 99%
  );
  padding: 10px 30px 30px 30px;
  border-radius: 2.5px;
  backdrop-filter: blur(1px);
  z-index: 2;
}

body.light-theme .wiki-background {
  border: 2px solid rgba(0, 0, 0, 0.418);
}

body.light-theme .wiki {
  border: 2px solid rgba(0, 0, 0, 0.418);
  background: none;
}

.wiki__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}

.wiki__header h2 {
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.wiki__header--menu {
  display: flex;
  gap: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.menu-item {
  transition: 0.5s ease;
}

.menu-item:hover {
  transform: scale(1.2);
}

.wiki__content {
  font-family: 'Inter', sans-serif;
  padding: 60px !important;
  border: var(--border-dark);
  border-radius: 3.5px;
  line-height: 1.6;
}

.wiki__content a:hover {
  color: #9318c0 !important;
  text-decoration: none;
}

body.light-theme .wiki__content {
  border: var(--border-light);
}

body.dark-theme .wiki__content div,
body.dark-theme .wiki__content li,
body.dark-theme .wiki__content ul,
body.dark-theme .wiki__content figcaption {
  background-color: var(--background-dark) !important;
  color: white !important;
}

body.dark-theme .wiki__content .navbox,
body.dark-theme .wiki__content table,
body.dark-theme .wiki__content table th,
body.dark-theme .wiki__content table td {
  color: white;
  background: var(--background-dark);
  background-color: var(--background-dark);
}

body.dark-theme .wiki__content .navbox th,
body.dark-theme .wiki__content .navbox td {
  border: 1px 0 solid #636060;
  border-color: white;
}

body.dark-theme .wiki__content a {
  color: #5ab0ff;
}

body.dark-theme .infobox th,
body.dark-theme .infobox td[class=''] {
  background-color: #54567f78 !important;
}

.box-Mais_notas,
.plainlinks,
.hlist,
.hatnote,
.mobile-stack,
.navbox,
[data-mw-section-id='-1'],
.navigation-box {
  display: none;
}

.wiki__content .infobox {
  float: right;
  clear: right;
  margin: 0 0 1em 1em;
  width: auto;
  padding: 0.4em;
  border: 1px solid #aaa;
  font-size: 90%;
}

.wiki__content .infobox caption {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 0.5em;
  text-align: center;
}

.wiki__content .infobox td,
.wiki__content .infobox th {
  padding: 0.2em 0.4em;
  vertical-align: top;
}

.wiki__content .thumb {
  margin: 1em;
  border: none;
}

.wiki__content h1,
.wiki__content h2,
.wiki__content h3 {
  color: #f9f9f9;
  padding-bottom: 0.3rem;
  margin-top: 2rem;
}

.wiki__content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.wiki__content .thumb img {
  border: 1px solid #ccc;
}

.wiki__content .thumbcaption {
  text-align: center;
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 0.4em;
}

.wiki__content img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  float: none !important; /* impede float do Wikipedia */
}

.wiki__content figure {
  text-align: center;
  margin: 20px auto;
  max-width: 100%;
  float: none !important;
}

.wiki__content figcaption {
  font-size: 0.7rem;
  color: #ccc;
  margin-top: 8px;
}

/* Login Page */

.login__header {
  background-color: #0f0f0f;
}

.login-page {
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  font-family: 'Noto Sans', sans-serif;
}

.login-page__title {
  width: 40%;
}

.login-page__title h1 {
  font-size: 76px;
  width: 160%;
}

.dashed-container {
  display: flex;
  align-items: center;
  width: 185%;
}

.dashed-line {
  margin-top: 10px;

  width: 100%;
  height: 2px;
  background-image: repeating-linear-gradient(
    to right,
    #555,
    #555 10px,
    transparent 10px,
    transparent 20px
  );
}

.dashed-line__text {
  border: 2px solid white;
  width: 35%;
  padding: 10px 0 10px 10px;
  display: flex;
  justify-content: center;
}

.login-page__container {
  display: flex;
  height: 80vh;
  align-items: center;
  padding: 40px;
}

.login-page__card {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(191, 191, 191, 0.001) 0%,
    rgba(0, 0, 0, 0.07) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(53px);
  -webkit-backdrop-filter: blur(53px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 40px 40px 30px 40px;
  gap: 20px;
  height: 100%;
  width: 30%;
  z-index: 2;
}

.login-page__card p {
  font-size: 12px;
}

.login-page__card input {
  border-radius: 8px;
  padding: 4%;
  background: none;
  border: 2px solid #575b61;
  color: white;
  outline: none;
}

.login-page__card input:focus {
  border: 2px solid #872feb;
}

.login-button {
  background: linear-gradient(90deg, #628eff 0%, #9752dc 53%, #6a1985 100%);
  border-radius: 8px;
  padding: 4%;
  border: none;
  color: white;
  font-size: 15px;
}

.login-button:hover {
  background: linear-gradient(90deg, #2f64eb 0%, #8428e1 53%, #360347 100%);
}

.forgot-button {
  background: linear-gradient(90deg, #e948c5 0%, #cd407b 53%, #75042d 100%);
}

.signup-button {
  background: linear-gradient(90deg, #2e4cee 0%, #221ebf 53%, #040f75 100%);
}

.signup-button:hover {
  background: linear-gradient(90deg, #1635e3 0%, #0f0cb8 53%, #030945 100%);
}

.forgot-button:hover {
  background: linear-gradient(90deg, #d11caa 0%, #c61860 53%, #420219 100%);
}

.input-forgot:focus {
  border: 2px solid #c61860 !important;
}

.input-signup:focus {
  border: 2px solid #2e4cee !important;
}

.forgot-no-account__container {
  height: 50%;
  display: flex;
  align-items: end;
}

.forgot {
  background: none;
  border: none;
  font-size: 16px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.forgot:hover {
  text-decoration: underline;
}

.or {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.or__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.or__bar {
  border-bottom: 2px solid #4d4d4d;
  width: 40%;
}

.login-options {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dont-have-account {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dont-have-account span {
  cursor: pointer;
  margin-left: 10px;
}

.dont-have-account span:hover {
  text-decoration: underline;
}

.login-guest-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.login-guest {
  gap: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.arrow {
  transition: 0.5s ease;
}

.login-guest:hover .arrow {
  transform: translateX(10px);
}

.planet {
  position: relative;
}

.first-planet {
  top: -40%;
  left: 13%;
}

.second-planet {
  bottom: -45%;
  right: 8%;
}

.card__password {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card__password input {
  width: 91%;
}

.card__password--icon-container {
  position: absolute;
  margin-right: 10px;
  cursor: pointer;
}

@media (min-width: 1800px) {
  .signup-page__card {
    height: 70%;
    width: 20%;
  }

  .first-planet {
    top: -25%;
    left: 15%;
  }

  .second-planet {
    bottom: -30%;
    right: 10%;
  }
}
