@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pontano+Sans:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-dark: #030014;
  --default-color: #41469a;
  --default-border-color-dark: #3c3f44;
  --default-border-color-light: #babfc9;
  --border-dark: 2px solid var(--default-border-color-dark);
  --border-light: 2px solid var(--default-border-color-light);
  --font: 'Poppins', sans-serif;
  --text-gradient: linear-gradient(
    90deg,
    #e59cff 0%,
    #ba9cff 50%,
    #9cb2ff 100%
  );
}

* {
  margin: 0;
  padding: 0;
}

body.dark-theme {
  background-color: var(--background-dark);
}

body.light-theme {
  background-color: white;
}

body.light-theme h1,
body.light-theme p,
body.dark-theme h2 {
  color: black;
}

body.dark-theme h1,
body.dark-theme p,
body.dark-theme h2 {
  color: white;
}

/* Header */

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.header__logo {
  display: flex;
  align-items: center;
  z-index: 99;
  cursor: pointer;
}

.header__logo span {
  color: var(--default-color);
  font-size: 60px;
  margin: 0 10px 10px 10px;
  font-family: 'Times New Roman', sans-serif !important;
}

.header__logo h1 {
  font-family: var(--font);
}

.header__user {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 99;
}

.header__user--theme {
  position: relative;
  width: 70px;
  height: 30px;
  background-color: #20262e;
  border: var(--border-dark);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.header__user-light .header__user--theme {
  background-color: #e1e3e6;
  border: var(--border-light);
}

.header__user--slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.header__user--slider.light {
  transform: translateX(0);
  color: #7d7979;
  background-color: white;
}

.header__user--slider.dark {
  transform: translateX(38px);
  background-color: black;
}

.header__user-user-icon {
  margin-right: 15px;
  cursor: pointer;
}

.header__user-light .header__user-user-icon {
  color: black;
}

/* SearchPanel */

.container__panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.panel-background {
  border-radius: 2.5px;
  z-index: 1;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 0 40px #41469a;
}

.panel {
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    to bottom,
    rgba(4, 1, 21, 0.6) 1%,
    rgba(3, 0, 20, 0.6) 99%
  );
  padding: 10px 30px 30px 30px;
  border-radius: 2.5px;
  width: 93.7%;
  height: 90%;
  backdrop-filter: blur(1px);
  z-index: 2;
}

body.light-theme .panel-background {
  border: 2px solid rgba(0, 0, 0, 0.418);
}

body.light-theme .panel {
  border: 2px solid rgba(0, 0, 0, 0.418);
  background: none;
}

.panel__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.panel__header--mode {
  background-color: rgba(217, 217, 217, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 139px;
  border: var(--border-dark);
  border-radius: 20px;
  gap: 20px;
}

body.light-theme .panel__header--mode {
  border: var(--border-light);
}

.search-active,
.chatbot-active {
  transform: scale(1.18);
  color: white !important;
  background: radial-gradient(circle, #787878 0%, #3f3b3b 100%);
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.25),
    inset 0 0 4px rgba(255, 255, 255, 0.19);
}

body.light-theme .search-active,
body.light-theme .chatbot-active {
  background: rgb(160, 158, 158) !important;
  box-shadow: 0 0 7px rgba(49, 48, 48, 0.25),
    inset 0 0 4px rgba(49, 49, 49, 0.19);
}

.panel__header--mode-item {
  border: var(--border-dark);
  border-radius: 11px;
  padding: 6px;
  color: #636060;
  transition: 0.5s ease;
  cursor: pointer;
}

body.light-theme .panel__header--mode-item {
  border: var(--border-light);
}

.panel__header--mode-item:hover {
  background-color: #585656;
  color: white;
}

body.light-theme .panel__header--mode-item:hover {
  background-color: #a29f9f;
}

.panel__header--info {
  display: flex;
  font-family: var(--font);
}

.panel__header--info p {
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 12px;
  margin-right: 10px;
}

.panel__header--info-config {
  color: white;
  transition: transform 3s ease;
  cursor: pointer;
}

body.light-theme .panel__header--info p,
body.light-theme .panel__header--info-config {
  color: rgb(94, 92, 92) !important;
}

.panel__header--info-config:hover {
  transform: rotate(360deg);
}

.panel__search-mode {
  padding: 10px;
  border: var(--border-dark);
  height: 83%;
  border-radius: 2.5px;
  background-color: rgba(255, 255, 255, 0.03);
}

body.light-theme .panel__search-mode {
  border: var(--border-light);
}

.panel__search-mode--header {
  display: flex;
  justify-content: space-between;
}

.panel__search-mode--header-more-icon {
  color: white;
  cursor: pointer;
}

.panel__search-mode--favorites {
  display: flex;
}

.panel__search-mode--favorites-item {
  display: flex;
  border: var(--border-dark);
  border-radius: 20px;
  padding: 8px;
  margin-right: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}

body.light-theme .panel__search-mode--favorites-item {
  border: var(--border-light);
}

.panel__search-mode--favorites-item:hover {
  transform: scale(1.06);
}

.panel__search-mode--favorites-item p {
  font-family: var(--font);
  font-size: 10px;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

body.light-theme .panel__search-mode--favorites-item p {
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: rgb(84, 83, 83);
}

.panel__search-mode--favorites-item img {
  margin-right: 5px;
}

.panel__clock {
  font-size: 80px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: white;
  margin-top: 30px;
}

body.light-theme .panel__clock {
  color: #908989;
}

.panel__clock--weather--info {
  margin-bottom: 15px;
}

.panel__weather--info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel__weather--info-item {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 15px;
  gap: 2px;
  font-family: 'Poppins', sans-serif;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.light-theme .panel__weather--info-item {
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #908989;
}

.panel__search--box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}

body.light-theme .panel__search--box {
  color: rgb(131, 128, 128);
}

#panel__search--bar {
  width: 60%;
  height: 30px;
  padding: 10px 15px 10px 45px;
  border-radius: 100px;
  border: var(--border-dark);
  background: none;
  color: white;
  margin-right: 10px;
  transition: 0.5s ease;
}

#panel__search--bar:focus {
  border-color: #e59cff;
  outline: none;
  box-shadow: 0 0 5px 6px #e59cff55;
}

body.light-theme #panel__search--bar {
  border: var(--border-light);
  color: #787878;
}

body.light-theme #panel__search--bar:focus {
  border-color: #8b6ec9;
  outline: none;
  box-shadow: 0 0 3px 4px rgba(79, 51, 138, 0.3);
}

.panel__search--search-icon-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 63%;
  pointer-events: none;
}

.icon-container__send-icon {
  pointer-events: all;
}

.panel__shortcuts {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.panel__shortcuts--card {
  padding: 20px;
  border-radius: 20px;
  border: var(--border-dark);
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.01);
  transition: 0.5s ease;
}

body.light-theme .panel__shortcuts--card {
  border: var(--border-light);
}

.panel__shortcuts--card:hover {
  transform: scale(1.1);
}

.panel__shortcuts--card p {
  font-family: var(--font);
  margin-top: 6px;
  font-size: 9px;
  color: #ccc;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.light-theme .panel__shortcuts--card p {
  color: #636060;
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.black-hole-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.black-hole-container .black-hole,
.black-hole-container .black-hole-white {
  position: absolute;
  max-width: 100%;
  transform: translateY(2%);
}

.black-hole-container .black-hole-white {
  transform: translateY(-2%);
}

/* Trending Math Topics */

.math-topics__title {
  font-family: var(--font);
  margin: 30px 0 30px 30px;
}

.math-topics__card {
  border: 3px solid rgba(60, 63, 68, 0.2);
  border-radius: 10px;
  width: 95%;
  margin-left: 1%;
  height: 300px;
  display: flex;
  padding: 15px;
  gap: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.math-topics__card-item {
  border: 3px solid rgba(60, 63, 68, 0.16);
  border-radius: 5px;
  width: 30%;
  height: 85%;
  box-shadow: 0px 0px 35px rgba(65, 70, 154, 0.25);
  padding: 20px;
  font-family: var(--font);
  transition: 0.8s ease;
}

.math-topics__card-item:hover {
  transform: scale(1.07);
}

.math-topics__card-item--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.math-topics__card-item--header p {
  font-size: 20px;
}

body.dark-theme .math-topics__card-item--header p {
  color: rgba(255, 255, 255, 0.6) !important;
}

.math-topics__card-item--search {
  background-color: #8821c4;
  color: white;
  padding: 6px;
  border-radius: 40px;
  transition: 0.5s ease;
  cursor: pointer;
}

.math-topics__card-item--search:hover {
  transform: scale(1.2);
}

.math-topics__card-item--text {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

body.dark-theme .math-topics__card-item--text p {
  color: rgba(255, 255, 255, 0.45) !important;
}

.math-topics__card-item--text p {
  width: 80%;
}

/* Footer */

.footer {
  background-color: #020422;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  height: 130px;
}

.footer__copy-container {
  display: flex;
  font-family: var(--font);
  font-size: 12px;
  align-items: flex-end;
  margin: 0 10px 10px 0;
}

.footer_logo h1,
.footer__copy-container p {
  color: white !important;
}

.copy-icon {
  margin-right: 10px;
}
